/* BACKGROUND */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;  /* prevents side scroll */
  overflow-y: auto;    /* allows vertical scroll */
}

.letter-wrapper {
  min-height: 100vh;
  width: 100vw;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: palevioletred;
}



/* READ TEXT */
.read-text {
  font-family: 'Montserrat', 'Arial', sans-serif;
  letter-spacing: 6px;
  font-size: 1.2rem;
  font-weight: 700;
  color: black;
  margin-bottom: 15px;
}

/* SCROLL */
.scroll {
  width: 600px;
  max-width: 90%;
  min-height: 500px;
  background: palevioletred;
  border-radius: 30px;
  box-shadow: 0 0 40px rgba(255, 215, 150, 0.6);
  transform-origin: top;
  overflow: hidden;
  position: relative;
  border: 2px solid pink;
  border-top: 0;
  border-bottom: 0;
}

/* RODS */
.scroll-rod {
  height: 25px;
  width: 100%;
  background:palevioletred;
  border-radius: 50%;
}

.scroll-rod.top { top: -12px; }
.scroll-rod.bottom { bottom: -12px; }

/* CONTENT */
.scroll-content {
  padding: 1rem 3.5rem;
  text-align: center;
  background: url("https://image.slidesdocs.com/responsive-images/docs/gray-love-letter-heart-frame-word-template_6cc04478f9__1131_1600.jpg");
  background-size: cover;
}

.scroll-content p {
  font-size: 1.15rem;
  line-height: 1.8rem;
  color: #330000;
  margin-bottom: 0.0rem;
}

/* GIF INSIDE LETTER */
.inside-gif {
  width: 160px;
  height: auto;
  margin: 10px auto 25px;
  display: block;
}

/* BUTTONS */
.letter-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.continue-btn {
  padding: 10px 24px;
  border-radius: 20px;
  background: palevioletred;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 2px;
}

.back-simple {
  padding: 10px 24px;
  border-radius: 20px;
  background: #ccc;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

/* HINT */
.hint-text {
  margin-top: 12px;
  font-size: 0.85rem;
  letter-spacing: 2px;
  color: #8b0000;
}
